@import '../../components/variables.scss';

.table{
    .item-image{
        height:50px;
        width:50px;
        align-items: center;
    }
    .total-row{
        font-weight: 700;
    }
    tr{
        padding:10px;
    }
}
.savedMsg{
    color: green;
     font-weight: 500;
}