@import '../components/variables.scss';
.prod-view {
    padding:10px 50px;
    .prodview-item-detail{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:80%;
        height: 50%;
        padding:20px;
        gap:10px;
        .prodview-item-image{
            width: 300px;
            height: 400px;
        }
        .details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        div{
            padding:10px 0px;
        }
        svg{
            color:$rating-star-color
         }
    }
    .item-detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        gap:10px;
        height: 300px;
        padding:20px;
        box-shadow: 0 0 10px 2px $box-shadow-color;
        background-color: white;
        margin:20px 0px;
        .item-image{
            width: 50%;
            height: 30%;
        }
         .price{
            font-size: 1.5em;
           }
         &:hover{
            //transform:translate(0%,5%);
            transform:scale(1.1,1.1)
         }
         svg{
            color:$rating-star-color
         }
    }
    button{
        border-radius: 5px;
        background-color: green;
        border:green;
        color:white
    }
}

@media screen and (max-width:992px){
    .prod-view {
        padding:5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .prodview-item-detail{
          width:100%;   
        }
    }
}
.cart-add-alert{
    background-color: green;
    .cart-add-success{
        font-size: large;
        color:white;
    }
}

.item-title{
    font-weight: 500;
}