@import '../components/variables.scss';
.prod-view {
    padding:10px 50px;
    .prodview-item-detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:80%;
        height: 50%;
        .prodview-item-image{
            width: 300px;
            height: 400px;
        }
        svg{
            color:$rating-star-color
         }
    }
    .item-detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        gap:10px;
        height: 300px;
        padding:20px;
        box-shadow: 0 0 10px 2px $box-shadow-color;
        background-color: white;
        margin:20px 0px;
        .item-image{
            width: 50%;
            height: 30%;
        }
         .price{
            font-size: 1.5em;
           }
         button{
            border-radius: 5px;
            background-color: green;
            border:green;
            color:white
        }
         &:hover{
            //transform:translate(0%,5%);
            transform:scale(1.1,1.1)
         }
         svg{
            color:$rating-star-color
         }
    }
}

@media screen and (max-width:992px){
    .prod-view {
        padding:5px 10px;
    }
}
.cart-add-alert{
    background-color: green;
    .cart-add-success{
        font-size: large;
        color:white;
    }
}

.item-title{
    font-weight: 500;
}