@import './variables.scss';

.brand-img{
    width:50px;
    height: 50px;
    margin-right:10px;
}
body{
    background-color: $base-color;
    padding:20px;
}
@media screen and (max-width:992px){
    .prod-view {
        padding:0px;
    }
}
#nav-bar{
    position: sticky;
    top:0;
    z-index: 50;
}
.search-btn{
    color:white;
    cursor: pointer;
}
.cart-icon{
    color:#e5df22;
    cursor: pointer;
    svg{
        height: 50px;
        width: 50px;
    }
    sup{
        color: white;
        position: relative;
        left: -20px;
        font-weight: 900;
        font-size: 1rem;
    }
}

.home-page{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.sc-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}
.search-bar{
    display: flex;
    justify-content: center;
    height: 38px;
    gap:5px;
    svg{
        height: 38px;
    }
}
.nav-container{
    gap: 5px;
    margin-bottom: 10px;
}
.search-list{
    background-color: white;
    margin:0 auto;
    position:absolute;
    top:50px;
    color:blue;
    list-style-type: none;
    padding:10px;
    overflow: auto;
    max-height: 80vh;
    border-radius: 5px;
    .search-ls-item{
        padding:5px;
        margin-bottom: 5px;
        box-shadow:  0px 0px 5px $base-color;
        &:hover{
            transform:scale(1.01,1.01);
            color:green;
            font-weight: 500;
         }
    }
}

@media screen and (max-width:768px){
    .navBar{
        display: flex;
        justify-content:space-between;
    }
    .search-list{
        top:110px;
        padding: 5px;
        height: 60vh;
    }
}